.une-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.une-main {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}
.une-footer {
  height: 1.23rem;
  background-color: #8294ae;
}
.une-menus {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.une-menu-item {
  width: 2.5rem;
  height: 1.23rem;
}
.menu-1 {
    background-image: url(http://cdn.unechannel.com/header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-2 {
  background-image: url(http://cdn.unechannel.com/look-vedio.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.menu-3 {
  background-image: url(http://cdn.unechannel.com/buy-vedio.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.menu-4 {
  background-image: url(http://cdn.unechannel.com/user-center.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.une-menu-item a {
  display: block;
  width: 100%;
  height: 100%;
}
